In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Determine which values to replace if counts are less than ...?
replace_application = list(application_type_counts[application_type_counts < 500].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1283        1
C2380        1
C1245        1
C2570        1
C2170        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# Determine which values to replace if counts are less than ..?
replace_class = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [8]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [9]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [11]:
# Determine columns in attempt to drop to increase accuracy
drop_columns = ["ASK_AMT"]

In [12]:
# Drop columns in attempt to increase accuracy
application_df = application_df.drop(columns=drop_columns)

In [13]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL']
X = application_df.drop(columns=['IS_SUCCESSFUL'])

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  160
hidden_nodes_layer2 = 60

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 160)               6880
_________________________________________________________________
dense_1 (Dense)              (None, 60)                9660
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 61
=================================================================
Total params: 16,601
Trainable params: 16,601
Non-trainable params: 0
_________________________________________________________________

In [16]:
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints_optimized/",exist_ok=True)
checkpoint_path = "checkpoints_optimized/weights.{epoch:02d}.hdf5"

In [17]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Create a callback that saves the model's weights every epoch
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq=5)

In [18]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 861us/step - loss: 0.5677 - accuracy: 0.7239
Epoch 2/50
804/804 [==============================] - 1s 949us/step - loss: 0.5555 - accuracy: 0.7310
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5529 - accuracy: 0.7315
Epoch 4/50
804/804 [==============================] - 1s 937us/step - loss: 0.5496 - accuracy: 0.7313
Epoch 5/50
804/804 [==============================] - 1s 987us/step - loss: 0.5491 - accuracy: 0.7346
Epoch 6/50
804/804 [==============================] - 1s 870us/step - loss: 0.5492 - accuracy: 0.7342
Epoch 7/50
804/804 [==============================] - 1s 882us/step - loss: 0.5473 - accuracy: 0.7333
Epoch 8/50
804/804 [==============================] - 1s 886us/step - loss: 0.5462 - accuracy: 0.7334
Epoch 9/50
804/804 [==============================] - 1s 896us/step - loss: 0.5463 - accuracy: 0.7357
Epoch 10/50
804/804 [==============================] - 1s 905us/step - loss: 0.5457 - accuracy: 0.7354
Epoch 11/50
804/804 [==============================] - 1s 913us/step - loss: 0.5452 - accuracy: 0.7366
Epoch 12/50
804/804 [==============================] - 1s 907us/step - loss: 0.5444 - accuracy: 0.7363
Epoch 13/50
804/804 [==============================] - 1s 909us/step - loss: 0.5443 - accuracy: 0.7363
Epoch 14/50
804/804 [==============================] - 1s 914us/step - loss: 0.5438 - accuracy: 0.7364
Epoch 15/50
804/804 [==============================] - 1s 882us/step - loss: 0.5440 - accuracy: 0.7358
Epoch 16/50
804/804 [==============================] - 1s 979us/step - loss: 0.5431 - accuracy: 0.7368
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7387
Epoch 18/50
804/804 [==============================] - 1s 966us/step - loss: 0.5428 - accuracy: 0.7383
Epoch 19/50
804/804 [==============================] - 1s 954us/step - loss: 0.5423 - accuracy: 0.7382
Epoch 20/50
804/804 [==============================] - 1s 904us/step - loss: 0.5422 - accuracy: 0.7379
Epoch 21/50
804/804 [==============================] - 1s 923us/step - loss: 0.5418 - accuracy: 0.7384
Epoch 22/50
804/804 [==============================] - 1s 905us/step - loss: 0.5411 - accuracy: 0.7368
Epoch 23/50
804/804 [==============================] - 1s 927us/step - loss: 0.5413 - accuracy: 0.7371
Epoch 24/50
804/804 [==============================] - 1s 912us/step - loss: 0.5412 - accuracy: 0.7385
Epoch 25/50
804/804 [==============================] - 1s 924us/step - loss: 0.5406 - accuracy: 0.7376
Epoch 26/50
804/804 [==============================] - 1s 962us/step - loss: 0.5401 - accuracy: 0.7390
Epoch 27/50
804/804 [==============================] - 1s 924us/step - loss: 0.5404 - accuracy: 0.7395
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5398 - accuracy: 0.7401
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7385
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7379
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7402
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7395
Epoch 33/50
804/804 [==============================] - 1s 943us/step - loss: 0.5386 - accuracy: 0.7403
Epoch 34/50
804/804 [==============================] - 1s 927us/step - loss: 0.5391 - accuracy: 0.7400
Epoch 35/50
804/804 [==============================] - 1s 901us/step - loss: 0.5387 - accuracy: 0.7399
Epoch 36/50
804/804 [==============================] - 1s 936us/step - loss: 0.5386 - accuracy: 0.7402
Epoch 37/50
804/804 [==============================] - 1s 918us/step - loss: 0.5386 - accuracy: 0.7397
Epoch 38/50
804/804 [==============================] - 1s 952us/step - loss: 0.5388 - accuracy: 0.7400
Epoch 39/50
804/804 [==============================] - 1s 927us/step - loss: 0.5382 - accuracy: 0.7398
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7402
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7405
Epoch 42/50
804/804 [==============================] - 1s 967us/step - loss: 0.5376 - accuracy: 0.7405
Epoch 43/50
804/804 [==============================] - 1s 934us/step - loss: 0.5376 - accuracy: 0.7395
Epoch 44/50
804/804 [==============================] - 1s 909us/step - loss: 0.5378 - accuracy: 0.7406
Epoch 45/50
804/804 [==============================] - 1s 907us/step - loss: 0.5376 - accuracy: 0.7404
Epoch 46/50
804/804 [==============================] - 1s 944us/step - loss: 0.5377 - accuracy: 0.7402
Epoch 47/50
804/804 [==============================] - 1s 906us/step - loss: 0.5372 - accuracy: 0.7407
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7407
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7402
Epoch 50/50
804/804 [==============================] - 1s 942us/step - loss: 0.5371 - accuracy: 0.7407

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5582 - accuracy: 0.7251
Loss: 0.5581737756729126, Accuracy: 0.7251312136650085

In [20]:
nn.save("AlphabetSoupCharity_Optimization.h5")